/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*Clearfix*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
/*proprieta per ogni singola parte dello schermo*/
.part1{
    background-color: red;
}

.part2{
    background-color: green;
}

.part3{
    background-color: yellow;
}
.text-part1{
    color: yellow;
}

.text-part2{
    color:yellow;
}

.text-part3{
    color:green;
}

/*Generici*/
body{
    font-family: 'Rubik Mono One', sans-serif;
}


.screen{
    height: 100vh;
    position: relative;
}

.screen .img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.screen .img h1{
    font-size: 50px;
}

/*menu */
.main-menu{
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 30px;
}

.main-menu li{
    display: inline-block;
    list-style-type: none;
}

.main-menu li a{
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 10px 15px;
}
