/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Clearfix*/
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
/*proprieta per ogni singola parte dello schermo*/
.part1{
    background-color: red;
}

.part2{
    background-color: green;
}

.part3{
    background-color: yellow;
}
.text-part1{
    color: yellow;
}

.text-part2{
    color:yellow;
}

.text-part3{
    color:green;
}

/*Generici*/
body{
    font-family: 'Rubik Mono One', sans-serif;
}


.screen{
    height: 100vh;
    position: relative;
}

.screen .img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.screen .img h1{
    font-size: 50px;
}